---
substitutions:
  # Dashes are not supported in devicename
  devicename: "lilygohigrowplantsensor"
  friendly_name: "LILYGO T-HiGrow Plant Sensor"
  device_description: "ESPHome-powered plant sensor"
  project_version: "1.1"
  update_interval: 30min # Set this to e.g. 1min when calibrating
  loglevel: DEBUG
  # Calibrated using instructions from https://bruvv.github.io/LILYGO-T-Higrow-Esphome/
  moisture_min: "2.808"
  moisture_max: "1.367"
  conductivity_min: "0.142"
  conductivity_max: "0.274"
  # Uncomment run_duration and sleep_duration if you want to use deepsleep
  # set how long to stay awake - NOT less than 10sec
  run_duration: 20s
  # set how long to sleep in minutes
  sleep_duration: 60min
  # Set to true when calibrating the sensors
  calibration_mode: false

esphome:
  name: "${devicename}"
  friendly_name: "${friendly_name}"
  comment: "${device_description}"
  # Automatically add the mac address to the name
  # so you can use a single firmware for all devices
  name_add_mac_suffix: true

  # This will allow for (future) project identification,
  # configuration and updates.
  project:
    name: esphome.project-template
    version: "${project_version}"
  on_boot:
    priority: 240
    then:
      - wait_until:
          condition:
            wifi.connected:
          timeout: 10s
  on_shutdown:
    then:
      - switch.turn_off: spower

dashboard_import:
  package_import_url: github://bruvv/LILYGO-T-Higrow-Esphome/LILYGO-T-Higrow-ESP32.yaml@main

esp32:
  board: lolin_d32
  framework:
    type: esp-idf

improv_serial:

wifi:
  # Use improv (after installing either go to web.esphome.io or use the installer here: https://bruvv.github.io/LILYGO-T-Higrow-Esphome)
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: True

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${devicename}"

captive_portal:

# Web server disabled because it was using too much RAM
# web_server:
# port: 80

# Enable logging
logger:
  level: "${loglevel}"

api:

ota:
  - platform: esphome

time:
  - platform: homeassistant

button:
  - platform: restart
    name: "Restart - ${friendly_name}"

i2c:
  sda: 25
  scl: 26
  scan: true
  id: bus_a
  setup_priority: -200

switch:
  # Power Switch
  - platform: gpio
    name: "${friendly_name} Sensor Power switch"
    pin: 4
    id: spower
    restore_mode: ALWAYS_ON
    internal: true
    setup_priority: 1000

sensor:
  # Wifi sensor
  - platform: wifi_signal
    name: "${friendly_name} WiFi Signal"
    id: "${devicename}_wifi_signal"
    update_interval: ${update_interval}

  # DHT
  - platform: dht
    pin: 16
    model: dht11
    temperature:
      name: "${friendly_name} DHT Temperature"
      id: "${devicename}_dht_temperature"
      unit_of_measurement: "°C"
      icon: "mdi:thermometer"
      device_class: "temperature"
      state_class: "measurement"
      accuracy_decimals: 1
      # filters: # uncomment after calibration
      #   - offset: -2.3 # offset in °C for the measured temperature
    humidity:
      name: "${friendly_name} DHT Humidity"
      id: "${devicename}_dht_humidity"
      unit_of_measurement: "%"
      icon: "mdi:cloud-percent"
      device_class: "humidity"
      state_class: "measurement"
      accuracy_decimals: 1
      # filters: # uncomment after calibration
      #   - offset: -2.3 # offset in °C for the measured temperature
    setup_priority: -100
    update_interval: ${update_interval}

  # Battery volt
  - platform: adc
    pin:
      number: 33
      allow_other_uses: true
    name: "${friendly_name} Battery Voltage"
    id: "${devicename}_voltage"
    attenuation: 12db
    unit_of_measurement: "V"
    icon: "mdi:battery-high"
    device_class: "voltage"
    state_class: "measurement"
    accuracy_decimals: 2
    filters:
      - multiply: 2
      - calibrate_linear:
          # Map 0.0 (from sensor) to 0.0 (true value)
          - 0.0 -> 0.0
          - 4.0 -> 4.0
    update_interval: ${update_interval}

  # Battery %
  - platform: adc
    pin:
      number: 33
      allow_other_uses: true
    name: "${friendly_name} Battery"
    id: "${devicename}_percent"
    icon: "mdi:battery-high"
    device_class: "battery"
    state_class: "measurement"
    attenuation: 12db
    accuracy_decimals: 2
    unit_of_measurement: "%"
    filters:
      - multiply: 2
      - calibrate_linear:
          # Map 0.0 (from sensor) to 0.0 (true value)
          - 3.18 -> 0.0
          - 4.20 -> 100.0
    update_interval: ${update_interval}

  # Soil humidity %
  - platform: adc
    pin: GPIO32
    name: '${friendly_name} Soil Moisture'
    id: ${devicename}_moisture
    icon: 'mdi:watering-can'
    update_interval: ${update_interval}
    attenuation: 12db
    accuracy_decimals: '${ 5 if calibration_mode else 2 }'
    unit_of_measurement: '${ "V" if calibration_mode else "%" }'
    device_class: 'moisture'
    state_class: 'measurement'
    # unit_of_measurement: "V" # uncomment for calibration
    filters: # comment when calibrating
      - calibrate_linear: # comment when calibrating
          # Map 0.0 (from sensor) to 0.0 (true value)
          - ${0.0 if calibration_mode else moisture_min} -> 0.0 # comment when calibrating
          - ${100.0 if calibration_mode else moisture_max} -> 100.0 # comment when calibrating

  # Fertilizer sensor
  - platform: adc
    pin: GPIO34
    name: '${friendly_name} Soil Conductivity'
    id: '${devicename}_soil_conductivity'
    icon: 'mdi:flower'
    update_interval: ${update_interval}
    attenuation: 12db
    accuracy_decimals: '${ 5 if calibration_mode else 2 }'
    unit_of_measurement: '${ "V" if calibration_mode else "µS/cm" }'
    device_class: 'conductivity'
    state_class: 'measurement'
    filters:
      - calibrate_linear:
          # Map 0.0 (from sensor) to 0.0 (true value)
          - ${0.0 if calibration_mode else conductivity_min} -> 0.0
          - ${100.0 if calibration_mode else conductivity_max} -> 100.0

  # Lux sensor
  - platform: bh1750
    i2c_id: bus_a
    name: '${friendly_name} BH1750 Illuminance'
    id: '${devicename}_bh1750_illuminance'
    address: 0x23
    unit_of_measurement: 'lx'
    icon: 'mdi:white-balance-sunny'
    device_class: 'illuminance'
    state_class: 'measurement'
    setup_priority: -300
    update_interval: ${update_interval}
    # convert to illuminance
    filters:
      - lambda: |-
          return x * 200.0;

deep_sleep:
  id: deep_sleep_control
  run_duration: ${run_duration}
  sleep_duration: ${sleep_duration}
  wakeup_pin:
    number: 35
    inverted: true
    allow_other_uses: true
    mode:
      input: true

# Wake Button
binary_sensor:
  - platform: gpio
    name: '${devicename} Wake Button'
    pin:
      number: 35
      allow_other_uses: true
    internal: true
    setup_priority: 1000
